.picClick{
    width: 30vw;
    height: 25vh;
    margin-left: 10vw;
}
.likebtn{
    background-color: blue;
    color: white;
    margin-left: 5vw;
}
.counter{
    margin-left: 12vw;
    font-size: larger;


}
.btnc{

    background-color: aqua;
    width: 12vw;
    height: 4vh;
}
.Dice{
    width: 40vw;
    height: 35vh;
    margin-left: 5vw;
}